<h3>Updates</h3>
<table class="updates" style="width:500px">

<tbody>
<tr><td width="20%">12/10/15</td><td width="80%">Excited to start research fellowship with TEM group at MSR India!</td></tr>
<tr><td width="20%">26/09/15</td><td width="80%">Submission done to <a href="http://chi2016.acm.org/">CHI 2016</a>, Goodbye Europe! Hello Bangalore :) </td></tr>
<tr><td width="20%">05/09/15</td><td width="80%">3 weeks left and CHI 2016 Marathon officially begins</td></tr>
<tr><td width="20%">12/08/15</td><td width="80%">Thesis defense there you go! There ends amazing jouney of masters</td></tr>
<tr><td width="20%">9/07/15</td><td width="80%">Done with Thesis submission! Now onto CHI 2016 submission </td></tr>
<tr><td width="20%">26/05/15</td><td width="80%">Back to real world from korea, thesis marathon begins: 2 months to turn in</td></tr>
<tr><td width="20%">18/05/15</td><td width="80%">Going gangnam style, Hi Korea!</td></tr>
<tr><td width="20%">5/04/15</td><td width="80%">Attending ACM <a href="http://chi2015.acm.org/">CHI 2015</a>excited to see friends and mentors</td></tr>
<tr><td width="20%">12/12/14</td><td width="80%">Christmas with friends (German, Carla, Patrik and Sarah) at Stockholm </td></tr>
<tr><td width="20%">12/12/14</td><td width="80%">A note submission from my internship in which I am co-author gets accepted for Publication at <a href="http://chi2015.acm.org/">CHI 2015</a></td></tr>
<tr><td width="20%">09/09/14</td><td width="80%">Joined Prof. Baudisch's  <a href="http://hpi.de/baudisch/home.html"> HCI Lab </a> at <a href="http://hpi.de"> Hasso-Plattner Institute </a> to work on my thesis and to do more research</td></tr>
<tr><td width="20%">25/08/14</td><td width="80%">Invited talk at HCI lab in Potsdam</td></tr>
<tr><td width="20%">12/08/14</td><td width="80%">Back to Berlin</td></tr>
<tr><td width="20%">25/05/14</td><td width="80%">Visiting Torino</td></tr>
<tr><td width="20%">26/04/14</td><td width="80%">Flying to Toronto to attend ACM CHI 2014</td></tr>
<tr><td width="20%">01/04/14</td><td width="80%">Interning in the <a href="http://www.xrce.xerox.com/Research-Development/Services-Innovation-Laboratory/Work-Practice-Technology/Approach">Work practice technology </a> group at <a href="http://www.xrce.xerox.com"> Xerox Research </a> in Grenoble</td></tr>
<tr><td width="20%">12/03/14</td><td width="80%">Invited talk at Prof.Marc Alexa's computer graphics group in TU-Berlin</td></tr>
<tr><td width="20%">06/02/14</td><td width="80%">Full time exam preparation mode #finals</td></tr>
<tr><td width="20%">04/02/14</td><td width="80%">Full <a href="/assets/pdfs/MakerVis-CHI2014.pdf">Paper </a> and <a href="/assets/pdfs/Interactivity-CHI2014.pdf">Interactivity</a>  submission accepted at <a href="http://chi2014.acm.org/">CHI</a></td></tr>
<tr><td width="20%">20/11/13</td><td width="80%"><a href="http://chi2014.acm.org/">CHI</a> rebuttals submitted.</td></tr>
<tr><td width="20%">27/10/13</td><td width="80%"> Hacking <a href="http://techcrunch.com/video/emojah-demo-at-hackathon-europe-2013/517988897/">Emojah</a> with Silver and Patrik at <a href="http://techcrunch.com/events/disrupt-europe-berlin-hackathon/">TechCrunch Disrupt Hackathon</a></td></tr>
<tr><td width="20%">21/10/13</td><td width="80%">Started school at new university TU-Berlin</td></tr>
<tr><td width="20%">04/10/13</td><td width="80%">Arrived in Berlin</td></tr>
<tr><td width="20%">04/10/13</td><td width="80%">Submitted to <a href="http://chi2014.acm.org/">CHI</a> Interactivity </td></tr>
<tr><td width="20%">18/09/13</td><td width="80%">Submitted to full paper to <a href="http://chi2014.acm.org/">CHI</a></td></tr>
<tr><td width="20%">21/07/13</td><td width="80%">Flying to Trento for summer school - 2 weeks!</td></tr>
</tbody></table>