<h3>Updates</h3>
<table class="updates" style="width:500px">

<tbody>
<tr><td width="20%">26/04/14</td><td width="80%">Flying to Toronto</td></tr>
<tr><td width="20%">01/04/14</td><td width="80%">Interning in the work practice technology group at Xerox Research in Grenoble</td></tr>
<tr><td width="20%">06/02/14</td><td width="80%">Full time exam preparation mode #finals</td></tr>
<tr><td width="20%">04/02/14</td><td width="80%">Full <a href="/assets/pdfs/MakerVis-CHI2014.pdf">Paper </a> and <a href="/assets/pdfs/Interactivity-CHI2014.pdf">Interactivity</a>  submission accepted at <a href="http://chi2014.acm.org/">CHI</a></td></tr>
<tr><td width="20%">15/12/13</td><td width="80%">Joined Telekom Labs</td></tr>
<tr><td width="20%">20/11/13</td><td width="80%"><a href="http://chi2014.acm.org/">CHI</a> rebuttals submitted.</td></tr>
<tr><td width="20%">27/10/13</td><td width="80%"> Hacking <a href="http://techcrunch.com/video/emojah-demo-at-hackathon-europe-2013/517988897/">Emojah</a> with Silver and Patrik at <a href="http://techcrunch.com/events/disrupt-europe-berlin-hackathon/">TechCrunch Disrupt Hackathon</a></td></tr>
<tr><td width="20%">21/10/13</td><td width="80%">Started school at new university TU-Berlin</td></tr>
<tr><td width="20%">04/10/13</td><td width="80%">Arrived in Berlin</td></tr>
<tr><td width="20%">04/10/13</td><td width="80%">Submitted to <a href="http://chi2014.acm.org/">CHI</a> Interactivity </td></tr>
<tr><td width="20%">18/09/13</td><td width="80%">Submitted to full paper to <a href="http://chi2014.acm.org/">CHI</a></td></tr>
<tr><td width="20%">21/07/13</td><td width="80%">Flying to Trento for summer school - 2 weeks!</td></tr>

   		</tbody></table>