<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useThumbDots="false"
	useFullscreenExpand="false"
	galleryTitle="PIMTouch"

>
  <image imageURL="images/bachelor_thesis_page27_image1.jpg"
	thumbURL="thumbs/bachelor_thesis_page27_image1.jpg"
	linkURL="images/bachelor_thesis_page27_image1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Sai\Documents\GitHub\tuxicon.github.com\assets\images\pimtouch\bachelor_thesis_page27_image1.jpg">
    <title><![CDATA[Overview]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gesture.jpg"
	thumbURL="thumbs/gesture.jpg"
	linkURL="images/gesture.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Sai\Documents\GitHub\tuxicon.github.com\assets\images\pimtouch\gesture.png">
    <title><![CDATA[Select or reject articles]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bachelor_thesis_page29_image1.jpg"
	thumbURL="thumbs/bachelor_thesis_page29_image1.jpg"
	linkURL="images/bachelor_thesis_page29_image1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Sai\Documents\GitHub\tuxicon.github.com\assets\images\pimtouch\bachelor_thesis_page29_image1.png">
    <title><![CDATA[Creating article gists]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bachelor_thesis_page30_image1.jpg"
	thumbURL="thumbs/bachelor_thesis_page30_image1.jpg"
	linkURL="images/bachelor_thesis_page30_image1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Sai\Documents\GitHub\tuxicon.github.com\assets\images\pimtouch\bachelor_thesis_page30_image1.jpg">
    <title><![CDATA[Color coding]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bachelor_thesis_page31_image3.jpg"
	thumbURL="thumbs/bachelor_thesis_page31_image3.jpg"
	linkURL="images/bachelor_thesis_page31_image3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Sai\Documents\GitHub\tuxicon.github.com\assets\images\pimtouch\bachelor_thesis_page31_image3.jpg">
    <title><![CDATA[Rating articles]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cover.jpg"
	thumbURL="thumbs/cover.jpg"
	linkURL="images/cover.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Sai\Documents\GitHub\tuxicon.github.com\assets\images\pimtouch\cover.jpg">
    <title><![CDATA[Tagging articles]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bachelor_thesis_page33_image1.jpg"
	thumbURL="thumbs/bachelor_thesis_page33_image1.jpg"
	linkURL="images/bachelor_thesis_page33_image1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Sai\Documents\GitHub\tuxicon.github.com\assets\images\pimtouch\bachelor_thesis_page33_image1.jpg">
    <title><![CDATA[Adding notes to articles]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bachelor_thesis_page33_image3.jpg"
	thumbURL="thumbs/bachelor_thesis_page33_image3.jpg"
	linkURL="images/bachelor_thesis_page33_image3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Sai\Documents\GitHub\tuxicon.github.com\assets\images\pimtouch\bachelor_thesis_page33_image3.jpg">
    <title><![CDATA[Removing notes from articles]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bachelor_thesis_page33_image4.jpg"
	thumbURL="thumbs/bachelor_thesis_page33_image4.jpg"
	linkURL="images/bachelor_thesis_page33_image4.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Sai\Documents\GitHub\tuxicon.github.com\assets\images\pimtouch\bachelor_thesis_page33_image4.jpg">
    <title><![CDATA[Resizing notes]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bachelor_thesis_page34_image3.jpg"
	thumbURL="thumbs/bachelor_thesis_page34_image3.jpg"
	linkURL="images/bachelor_thesis_page34_image3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Sai\Documents\GitHub\tuxicon.github.com\assets\images\pimtouch\bachelor_thesis_page34_image3.jpg">
    <title><![CDATA[Creating collections]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bachelor_thesis_page34_image1.jpg"
	thumbURL="thumbs/bachelor_thesis_page34_image1.jpg"
	linkURL="images/bachelor_thesis_page34_image1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Sai\Documents\GitHub\tuxicon.github.com\assets\images\pimtouch\bachelor_thesis_page34_image1.jpg">
    <title><![CDATA[Archiving collections ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bachelor_thesis_page34_image2.jpg"
	thumbURL="thumbs/bachelor_thesis_page34_image2.jpg"
	linkURL="images/bachelor_thesis_page34_image2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Sai\Documents\GitHub\tuxicon.github.com\assets\images\pimtouch\bachelor_thesis_page34_image2.jpg">
    <title><![CDATA[Reopening existing collection from archives]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>