body{

        font-weight: 300;
        font-size: 16px;
}

p {
    margin: 1em 0 1em 0;
}

.carousel-item{
background-size:cover;
background-position: center center;
padding-right:35px;
padding-left: 35px;
}

.carousel-inner{
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;

}

html {
  scroll-behavior: smooth;
}


/*.video-container {
position:relative;
height:18em;
width:-webkit-fill-available;
overflow: auto;
}

.video-container iframe, .video-container object, .video-container embed {
position:relative;
top:0;
left:0;
width:100%;
height:100%;
}
*/


.video-container {
position:relative;
height:0;
width:-webkit-fill-available;
overflow: hidden;
padding-bottom: 56.25%; /* 16:9 */
height: 0;
}

.video-container iframe, .video-container object, .video-container embed {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}


.carousel-control-prev{
background-color: #212529;
    opacity: 20%;
    width:30px;
}

.carousel-control-next{
background-color: #212529;
    opacity: 20%;
    width:30px;

}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.float-container {
    overflow:auto;
}


.float-child {
    width: 50%;
    float: left;
}  

.float-child-video {
    float: left;
    width: 50%;
    height:0;
    padding-bottom: 56.25%; /* 16:9 */
}  